.ninja_res_menu_group {
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.ninja_res_menu_group .res_item_modal {
  cursor: pointer;
}

.ninja_res_menu_group .res-item {
  padding: 5px;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
}

.ninja_res_menu_group .res-item:hover {
  background-color: #f5f4eb;
  border-radius: 5px;
}

.ninja_res_menu_group .res-item h3,
.ninja_res_menu_group .res-item h4,
.ninja_res_menu_group .res-item h2,
.ninja_res_menu_group .res-item p {
  padding: 0px;
  margin: 0px;
}

.res_item_price {
  padding: 5px 10px;
  display: inline-block;
  font-size: 12px;
  background-color: #955181;
  border-radius: 5px;
  color: white;
}

.ninja_res_menu_default .res-item .res_featured_image,
.ninja_res_menu_group .res-item .res_featured_image {
  width: 30%;
  padding: 0px;
  margin: 0px;
  float: left;
}

.ninja_res_menu_default .res-item .res_featured_image img,
.ninja_res_menu_group .res-item .res_featured_image img {
  max-width: 100%;
}

.ninja_res_menu_default .res-item .res_item_title .res_item_price,
.ninja_res_menu_group .res-item .res_item_title .res_item_price {
  float: right;
}

.ninja_res_menu_default .res-item .res-item-content,
.ninja_res_menu_group .res-item .res-item-content {
  padding: 0px;
  padding-left: 15px;
  margin: 0px;
  width: 70%;
  float: left;
}

.ninja_res_menu_simple .res-item,
.ninja_res_menu_center_aligned .res-item {
  padding-top: 10px;
}

.ninja_res_menu_simple .res-item .res_item_price,
.ninja_res_menu_center_aligned .res-item .res_item_price {
  float: right;
}

.ninja_res_menu_simple .res-item .res-item-content,
.ninja_res_menu_center_aligned .res-item .res-item-content {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.ninja_res_menu_center_aligned .res-item {
  padding: 15px;
  text-align: center;
}

.ninja_res_menu_center_aligned .res-item .res_item_price {
  float: none;
}

.ninja_res_menu_group.ninja_res_menu_grid .res_gid_4 {
  width: 25%;
  float: left;
}

.ninja_res_menu_group.ninja_res_menu_grid .res_gid_3 {
  width: 33%;
  float: left;
}

.ninja_res_menu_group.ninja_res_menu_grid .res_gid_2 {
  width: 50%;
  float: left;
}

.ninja_res_menu_group.ninja_res_menu_grid .res_gid_1 {
  width: 100%;
  float: none;
}

.ninja_res_menu_group.ninja_res_menu_grid .res-item .res_featured_image {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;
  float: none;
}

.ninja_res_menu_group.ninja_res_menu_grid .res-item .res_featured_image img {
  max-width: 100%;
}

.ninja_res_menu_group.ninja_res_menu_grid .res-item .res_featured_image .res_item_price {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.ninja_res_menu_group.ninja_res_menu_grid .res-item .res-item-content {
  padding-left: 0px;
  width: 100%;
}

.res_single_item_content .rl_inner h4 {
  padding: 0px;
  margin: 10px 0;
}

/*pop up modal*/

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog img {
  width: 100%;
  padding: 0;
  border-top-left-radius: 10px;
}

.modalDialog > .modal_item {
  width: 600px;
  position: relative;
  margin: 4% auto;
  border-radius: 10px;
  background: #fff;
  height: auto;
}

.modalcontent {
  padding: 5px 20px 13px 20px;
}

.modalcontent h3 {
  color: #999;
}

.modalcontent p {
  margin: 0 0 0;
  color: #999;
  font-size: 17px;
  font-style: italic;
}

.root_image {
  opacity: 0.5;
}

.root_image:hover {
  opacity: 1;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  cursor: pointer;
}

.close:hover {
  background: #00d9ff;
}

.des_icon {
  font: 10px 'open sans', arial;
  margin-right: 10px;
  text-transform: uppercase;
  background: #999;
  padding: 7px 6px;
  color: white;
  border-radius: 5px;
}

.rl_menu_icon {
  margin: 0px 25px;
  position: absolute;
  font-size: 20px;
  color: #999;
}

.rl_inner {
  padding-left: 70px;
}

.rl_inner h4 {
  font-size: 16px;
  word-spacing: normal;
  letter-spacing: normal;
  color: #767676;
}

.rl_nutritions p {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  font-style: normal;
  text-transform: uppercase;
  line-height: 140%;
  color: #999;
}

.rl_popup_option_title {
  color: #999;
  font-size: 20px;
}

.rl_text {
  float: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.rl_text ul {
  margin: 3px -25px;
  padding: 0 0 0 40px;
  margin-bottom: 10px;
}

.rl_text ul li {
  color: #999;
}

.res_hr {
  color: #999;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: dashed 1px;
}

.root_image {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.root_title {
  margin-top: 6px;
}

.modalDialog .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.centered_price {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #7a2662;
  font-size: 24px;
  padding: 6px 9px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  margin: 0 auto;
  display: inline-block;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 90001;
  margin: -14px -14px 0 0;
  color: #fff;
  background-color: #955181;
  border-radius: 50%;
  padding: 4px;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 90%;
  font-size: 30px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.close:hover {
  color: #fff;
  background-color: red;
}

.my_modal {
  overflow: hidden;
  position: fixed;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8) url("http://thinkfuture.com/wp-content/uploads/2013/10/loading_spinner.gif") no-repeat 50%;
}

@media (max-width: 631px) {
  .modal_item {
    width: 80% !important;
    margin: 14px 0px 0 36px;
  }

  .rl_text {
    width: 100% !important;
  }
}

