@charset "UTF-8";

.res-container {
  cursor: pointer;
}

.res_row {
  margin-right: -15px;
  margin-left: -15px;
}

.readMore {
  font-size: 13px;
  font-style: italic;
  color: #bc360a;
  text-decoration: none;
  border-bottom: 0 solid #fff !important;
}

.readMore:hover {
  color: orange;
}

.meal_types_container .res-col-12 {
  width: 80%;
  position: relative;
}

.meal_types_container .res-col-4 {
  width: 33.33333333%;
  float: left;
  clear: both;
}

.meal_types_container .res-col-8 {
  width: 66.66666667%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: right;
}

.meal_types_container.res-col-4 {
  display: block;
  max-width: 100%;
  height: auto;
}

.meal_types_container .price {
  position: absolute;
  right: 10px;
  color: #fff;
  padding: 2px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  float: right;
  background-color: #955181;
  border-radius: 5px;
}

.meal_types_container .title {
  margin: 0;
  padding: 0;
  position: relative;
  color: #955181;
}

.meal_types_container .image {
  margin-bottom: 5px;
  border: solid transparent;
}

.meal_types_container .image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.meal_types_container .content-child p {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 18px;
  color: #767676;
}

/*Featured Style A*/

.feat_style_a_container .feat-style-a-col-12 {
  width: 80%;
  position: relative;
}

.feat_style_a_container .feat-style-a-item-col-12 {
  width: 100%;
  position: relative;
}

.feat_style_a_container .feat-style-a-contnet {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #F0F4E5;
}

.feat_style_a_container .feat-style-a-col-4 {
  width: 33.33333333%;
  float: left;
  clear: both;
}

.feat_style_a_container .feat-style-a-col-8 {
  width: 66.66666667%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: right;
}

.feat_style_a_container .feat-style-a-col-8 p {
  margin: 0;
  font-size: 16px;
  font-style: italic;
  color: #767676;
}

.feat-style-a-col-8 .price {
  float: right;
  position: absolute;
  right: 10px;
  color: #fff;
  padding: 0px 9px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  background-color: #955181;
  border-radius: 5px;
}

.feat_style_a_container .content .image {
  margin-bottom: 10px;
}

.feat_style_a_container .content .image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.feat_style_a_container .feat-style-a-price {
  color: #fff;
  padding: 2px 10px;
  margin-right: 0px;
  margin-top: -3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  float: right;
  position: absolute;
  right: 10px;
  border-radius: 5px;
  background-color: #955181;
}

.feat_style_a_container .feat-style-a-title {
  margin: 0;
  position: relative;
  padding: 0;
  color: #955181;
  font-size: 21px;
}

.feat-style-a-col-8 .title {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 20px;
  color: #8A4776;
}

.feat_style_a_container .feat-style-a-contnet p {
  font-size: 17px;
  font-style: italic;
  color: #767676;
}

/*Simple Foodpress Menu*/

.simple_food_container .simple_food_menu_col_12 {
  width: 80%;
  position: relative;
}

.simple_food_container .simple_food_item_col_12 {
  width: 100%;
  position: relative;
  padding: 10px;
}

.simple_food_container .simple_food_item_col_12:hover {
  background-color: #f5f4eb;
}

.simple_food_container .simple_food_price {
  float: right;
  position: absolute;
  right: 10px;
  color: #fff;
  padding: 2px 10px;
  margin-right: 0px;
  margin-top: -3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  border-radius: 5px;
  background-color: #955181;
}

.simple_food_container .simple_title {
  margin: 0;
  padding: 0;
  position: relative;
  color: #955181;
}

.simple_food_container .simple_food_content p {
  margin: 0;
  font-style: italic;
  color: #767676;
}

/*Feat Style B*/

.feat_style_b_container .feat_style_b_col_8 {
  /* width: 66.66666667%;*/
  width: 80%;
}

.feat_style_b_container .feat_style_b_col_12 {
  width: 100%;
  position: relative;
}

.feat_style_b_container .feat_style_b_col_12:hover {
  opacity: 0.60;
}

.feat_style_b_container .feat_style_b_info {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  padding-bottom: 10px;
}

.feat_style_b_container .feat_style_b_info .title {
  margin: 0;
  font-size: 20px;
  color: #fff;
  padding-top: 10px;
}

.feat_style_b_container .feat_style_b_info .price {
  background-color: #8A4776;
  color: #fff;
  border-radius: 5px;
  padding: 6px 11px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.feat_style_b_container .feat_style_b_info a {
  color: #fff;
  font-size: 16px;
  font-style: italic;
  border-bottom: 0px;
}

.feat_style_b_container .feat_big_image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.feat_style_b_container .feat_sm_image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.feat_style_b_container .feat_style_b_col_4 {
  width: 33.33333333%;
  float: left;
  padding: 5px;
}

.feat_style_b_container .feat_style_b_col_4:hover {
  background-color: #f5f4eb;
}

.feat_style_b_container .more_infor {
  margin-top: 5px;
}

.feat_style_b_container .more_infor .price {
  color: #fff;
  padding: 5px 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  background-color: #955181;
  border-radius: 5px;
}

.feat_style_b_container .more_infor .title {
  margin: 0;
  font-size: 18px;
  color: #955181;
  padding: 0;
}

.feat_style_b_container .more_infor .menu_description p {
  font-size: 16px;
  font-style: italic;
  color: #767676;
}

/* Centered Aligned menu */

.centered_aligned_container .centered_aligned_col_9 {
  width: 100%;
}

.centered_aligned_container .centered_Cat_col_12 {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 25px;
  color: #8A4776;
}

.centered_aligned_container .centered_aligned_col_12 {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.centered_aligned_container .centered_aligned_col_12:hover {
  background-color: #F9F7EC;
}

.centered_aligned_container .centered_aligned_col_12 .center_title {
  font-size: 18px;
  margin: 0;
  padding: 10px;
  color: #8A4776;
}

.centered_aligned_container .cen_alig_price {
  background-color: #8A4776;
  color: #fff;
  border-radius: 5px;
  padding: 6px 11px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.centered_aligned_container .centered_aligned_content p {
  margin: 0;
  font-size: 18px;
  font-style: italic;
  color: #767676;
}

/*Dish Type Food*/

.dish_container .dish_type_col_9 {
  width: 75%;
}

.dish_container .dish_type_col_4 {
  width: 33.33333333%;
  float: left;
  clear: both;
}

.dish_container .dish_type_col_8 {
  width: 66.66666667%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: right;
}

.dish_container .dish_type_col_8 .dish_type_child p {
  margin: 0;
  font-size: 17px;
  font-style: italic;
  color: #767676;
}

.dish_container .dish_type_col_4 .image {
  margin-bottom: 10px;
}

.dish_container.dish_type_col_4 .image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dish_container .dish_type_price {
  position: absolute;
  right: 10px;
  color: #fff;
  padding: 2px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  float: right;
  background-color: #955181;
  border-radius: 5px;
}

.dish_container .dish_type_title {
  margin: 0;
  padding: 0;
  position: relative;
  color: #7a2662;
  font-size: 19px;
}

.dish_container .dish_type_col_12 h2 {
  margin: 0px 0px 8px 0px;
  color: #7a2662;
  font-size: 23px;
}

/*Vertical Menu*/

.vertical_tabbed_container .vertical_col-8 {
  width: 100%;
  position: relative;
}

.vertical_tabbed_container .rl_vartical_tab ul {
  border: solid 1px #EAEAEA;
  border-radius: 5px;
}

.vertical_tabbed_container .rl_vartical_tab ul li {
  list-style: none;
  border-bottom: solid 1px #EAEAEA;
  padding: 6px 0px 0px 20px;
  cursor: pointer;
  font-size: 18px;
  color: #6B6B6B;
  font-weight: 600;
}

.vertical_tabbed_container .rl_vartical_tab ul li:hover {
  background-color: #eaeaea;
  color: #fff;
}

.vertical_tabbed_container .Vertical_nav_col-2 {
  float: left;
  width: 20%;
}

.vertical_tabbed_container .vartical-col-10 {
  float: left;
  width: 80%;
  position: relative;
  padding-left: 10px;
}

.vertical_tabbed_container .rl_vartical_item_info:hover {
  background-color: #f5f4eb;
}

.vertical_tabbed_container .rl_vartical_image {
  float: left;
  width: 33.33333%;
  border: solid transparent;
}

.vertical_tabbed_container .rl_vartical_image img {
  display: block;
  max-width: 100%;
  height: auto;
  border: solid transparent;
}

.vertical_tabbed_container .rl_vartical_tab_item .menu_info {
  width: 66.66666%;
  float: left;
  position: relative;
  padding: 6px;
}

.vertical_tabbed_container .rl_vartical_tab_item .menu_info p {
  font-size: 15px;
  font-style: italic;
  color: #767676;
}

.vertical_tabbed_container .rl_vartical_tab_item .price {
  position: absolute;
  right: 10px;
  color: #fff;
  padding: 0px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  float: right;
  background-color: #955181;
  border-radius: 5px;
  margin-top: -2px;
}

.vertical_tabbed_container .rl_vartical_tab_item .title {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #955181;
}

.vertical_tabbed_container .rl_vartical_tab_item .cat_title {
  margin: 0;
  border-bottom: 2px solid #EAEAEA;
  padding-bottom: 5px;
  color: #7a2662;
}

/*categorized menu*/

.categorized_menu_container .categorized_col_8 {
  width: 70%;
}

.categorized_menu_container .meal_name {
  color: #7a2662;
  font-weight: 300;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.categorized_menu_container .foodpress_menu {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #fff;
  position: relative;
}

.categorized_menu_container .foodpress_menu h2 {
  color: #7a2662;
  cursor: pointer;
  font-weight: 300;
  margin-top: -6px;
}

.toggle_breakfast {
  display: none;
  background: grey;
  color: #FFF;
  padding: 10px;
}

.toggle_b_creeps {
  display: none;
  background: grey;
  color: #FFF;
  padding: 10px;
}

#b_crepes {
  font-weight: 300;
  color: #7a2662;
  cursor: pointer;
  margin: 0;
}

.tab-style-container {
  cursor: pointer;
}

.categorized-container {
  width: 100%;
  padding-left: 37px;
  margin-top: 10px;
}

.categorized-container div {
  padding: 6px;
}

.categorized-container:hover {
  background: oldlace;
}

.categorized-container .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -45px;
}

.categorized-container .parent h3 {
  margin-top: 0px !important;
  color: #7a2662;
  font-size: 18px !important;
  margin-left: 6px;
}

.categorized-container .content span {
  margin-left: auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.categorized-container .content-child {
  margin-top: -32px;
  margin-left: -40px;
}

.categorized-container .content-child p {
  font-style: italic;
  font-size: 15px;
  color: #767676;
  margin: 0;
}

.categorized-container .content-child a {
  color: #ca3c08;
  text-decoration: none;
  font-style: italic;
  -webkit-box-shadow: 0 0px 0 0 currentColor !important;
          box-shadow: 0 0px 0 0 currentColor !important;
  font-size: 14px;
}

.categorized-container .content-child a:hover {
  color: orange;
}

.categorized-container .price_icon {
  background-color: #955181;
  border-radius: 5px;
  padding: 1px 10px 0px 7px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  height: 25px;
}

/*Tabbed Style menu */

.tabbed_col_8 {
  width: 70%;
}

.tabbed_menu_container #tabs {
  width: 100%;
  height: 30px;
  padding-right: 2px;
  margin-top: 30px;
}

.tabbed_menu_container .tab_item {
  width: 100%;
}

.tabbed_menu_container #tabs li {
  float: left;
  list-style: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-right: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  outline: none;
}

.tabbed_menu_container #tabs li a {
  font-size: 18px;
  color: #fff;
  display: block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-decoration: none;
  outline: none;
  background-color: #828282;
  cursor: pointer;
  padding: 6px 26px 5px 23px;
  font-family: Bitter, Georgia, serif;
}

.tabbed_menu_container #tabs li a.inactive {
  font-size: 18px;
  display: block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 6px 26px 5px 23px;
  font-family: Bitter, Georgia, serif;
  color: #474747;
  background-color: #EEE;
}

.tabbed_menu_container #tabs li a.inactive:hover {
  background: #b8b8b8;
}

.tabbed_menu_container #tabs li a:hover,
.tabbed_menu_container #tabs li a.inactive:hover {
  color: #1f1f1f;
  outline: none;
}

.tabbed_menu_container .tab_container h2 {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  color: #5685bc;
}

.tabbed_menu_container .tab_container p {
  /*margin-bottom: -35px; */
  line-height: 1.3;
  color: #767676;
  margin: 0px;
  font-size: 16px;
  font-style: italic;
}

.tabbed_menu_container .tab_container .toggle {
  cursor: pointer;
  color: #7A64B3;
  font-size: 22px;
  font-weight: 100;
  display: block;
  margin: 0px 0px 0px 34px;
  padding: 10px 0px 10px 0px;
}

.tabbed_menu_container .tab_container .toggle i {
  color: #7A7A7A;
}

.tabbed_menu_container .tab_container .toggle_puncakes {
  cursor: pointer;
  color: #7A64B3;
  font-size: 22px;
  font-weight: 100;
}

.tabbed_menu_container .tab_container .toggle_puncakes i {
  color: #7A7A7A;
}

.tabbed_menu_container .tab_container #pancakes {
  cursor: pointer;
  color: #7A64B3;
  font-size: 22px;
  font-weight: 100;
}

.tabbed_menu_container .tab_container #pancakes i {
  color: #7A7A7A;
}

.tabbed_menu_container .tab_container ul {
  margin-left: 25px;
  font-size: small;
  line-height: 1.4;
  list-style-type: disc;
}

.tabbed_menu_container .tab_container li {
  padding-bottom: 5px;
  margin-left: 5px;
}

.tab-style-container .image {
  width: 33.333%;
  float: left;
  position: relative;
  clear: both;
  margin-bottom: 10px;
  border: solid transparent;
}

.tab-style-container .image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.tab-style-container .content {
  width: 66.66666%;
  float: left;
  padding-left: 8px;
}

.tab-style-container .parent {
  position: relative;
}

.tab-style-container .price_icon {
  float: right;
  position: absolute;
  right: 10px;
  color: #fff;
  padding: 0px 7px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  background-color: #955181;
  border-radius: 5px;
}

.tab-style-container .content .title {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: #955181;
  padding: 0;
}

.tab-style-container .content a {
  font-size: 15px;
}

/*Boxed style menu*/

.box_stye_col_8 {
  width: 70%;
}

.boxed-style-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 604px;
}

.boxed-style-wrapper .c_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 604px;
}

.boxed-style-wrapper #main {
  width: 604px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boxed-style-wrapper .f_img {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  width: 50%;
  height: 200px;
  margin: 0;
}

.boxed-style-wrapper .f_img:hover {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  color: #fff;
}

.boxed-style-wrapper .f_img h4 {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}

.boxed-style-wrapper .s_img {
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer;
  width: 50%;
  height: 200px;
  margin: 0 0 0 5px;
}

.boxed-style-wrapper .s_img:hover {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  color: #fff;
}

.boxed-style-wrapper .s_img h4 {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}

.boxed-style-wrapper .n_img {
  cursor: pointer;
  width: 75%;
  background: purple;
  height: 200px;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  margin-left: -9px;
}

.boxed-style-wrapper .centered {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.boxed-style-wrapper .centered p {
  width: 250px;
}

.boxed-style-wrapper .n_img h4 {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  padding-top: 75px;
}

.boxed-style-wrapper .n_img p {
  color: #FFFFFF;
  padding-top: 12px;
}

.boxed-style-wrapper .item-area-title {
  background: #888888;
}

.boxed-style-wrapper .item-area-title p {
  color: #fff;
  padding: 5px;
  margin: -9px 0px 0px 0px;
}

.boxed-style-wrapper .boxed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  cursor: pointer;
}

.boxed-style-wrapper .boxed-container .readMore {
  position: relative;
  top: -28px;
}

.boxed-style-wrapper .boxed-container img {
  /*width: 80%;
  margin-top: 2px;*/
  max-width: 100%;
  height: auto;
  /* margin-top: 2px; */
  display: block;
}

.boxed-style-wrapper .boxed-container div {
  padding: 6px;
}

.boxed-style-wrapper .boxed-container:hover {
  background: oldlace;
}

.boxed-style-wrapper .boxed-container .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.boxed-style-wrapper .boxed-container .content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.boxed-style-wrapper .boxed-container .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-left: -45px;*/
}

.boxed-style-wrapper .boxed-container .parent h3 {
  /* margin-top: 0px; */
  color: #7a2662;
  font-size: 18px;
  /* margin-left: 6px; */
  padding: 0;
  margin: 0;
}

.boxed-style-wrapper .boxed-container .content span {
  margin-left: auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.boxed-style-wrapper .boxed-container .content-child {
  /*margin-top: -32px;
  margin-left: -40px;*/
}

.boxed-style-wrapper .dish-container .content-child p {
  font-style: italic;
  font-size: 15px;
  color: #767676;
}

.boxed-style-wrapper .dish-container .content-child a {
  color: #ca3c08;
  text-decoration: none;
  font-style: italic;
  -webkit-box-shadow: 0 0px 0 0 currentColor !important;
          box-shadow: 0 0px 0 0 currentColor !important;
  font-size: 14px;
}

.boxed-style-wrapper .dish-container .content-child a:hover {
  color: orange;
}

.boxed-style-wrapper .boxed-container .price_icon {
  background-color: #955181;
  border-radius: 5px;
  padding: 0px 11px 0px 9px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  height: 25px;
  margin-top: -7px;
}

.boxed-style-wrapper .boxed-container .content .content-child p {
  margin: 0;
  font-size: 17px;
  font-style: italic;
  color: #767676;
}

.boxed-style-wrapper .item-area {
  background: purple;
  color: #fff;
  height: 37px;
}

.boxed-style-wrapper .item-area i {
  padding: 5px;
  cursor: pointer;
}

.boxed-style-wrapper .boxedStyleImg {
  max-width: 100%;
  height: auto;
  display: block;
}

/* fetured style C */

.featured_style_c {
  cursor: pointer;
}

.featured_style_c .featured_image .price {
  position: absolute;
  margin-top: -42px;
  margin-left: 16px;
  background-color: #8A4776;
  color: #fff;
  border-radius: 5px;
  padding: 2px 10px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.featured_style_c .menu_info_box {
  background-color: #F0F4E5;
}

.featured_style_c .menu_info {
  padding: 15px 0px 1px 11px;
}

.featured_style_c .menu_info h3 {
  font-size: 20px;
  color: #7a2662;
  margin: 0;
}

.featured_style_c .menu_info .menu_description {
  font-size: 17px;
  font-style: italic;
  color: #767676;
}

.featured_style_c_container .featured_style_c_1 .menu_description p {
  margin: 0;
  font-size: 15px;
  font-style: italic;
  color: #767676;
}

/*featured_style_c_1*/

.featured_style_c_container .featured_style_c_col_8 {
  width: 80%;
}

.featured_style_c_container .featured_style_c .featured_image {
  width: 100%;
  display: block;
}

.featured_style_c_container .featured_style_c .featured_image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.featured_style_c_1 {
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.featured_style_c_1:hover {
  background-color: #f5f4eb;
}

.featured_style_c_1 .featured_image {
  width: 33.3333%;
  float: left;
  clear: both;
  position: relative;
}

.featured_style_c_1 .featured_image img {
  max-width: 100%;
  display: block;
  height: auto;
  border: solid transparent;
  clear: both;
}

.featured_style_c_1 .menu_info {
  width: 66.6666%;
  float: left;
  position: relative;
  padding: 5px;
}

.featured_style_c_1 .menu_info a {
  font-size: 15px;
}

.featured_style_c_1 .price {
  float: right;
  position: absolute;
  right: 10px;
  color: #fff;
  padding: 0px 9px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  background-color: #955181;
  border-radius: 5px;
}

.featured_style_c_1 .title {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 18px;
  color: #7a2662;
}

/*pop up modal*/

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog img {
  width: 100%;
  padding: 0;
  border-top-left-radius: 10px;
}

.modalDialog > .modal_item {
  width: 600px;
  position: relative;
  margin: 4% auto;
  border-radius: 10px;
  background: #fff;
  height: auto;
}

.modalcontent {
  padding: 5px 20px 13px 20px;
}

.modalcontent h3 {
  color: #999;
}

.modalcontent p {
  margin: 0 0 0;
  color: #999;
  font-size: 17px;
  font-style: italic;
}

.root_image {
  opacity: 0.5;
}

.root_image:hover {
  opacity: 1;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  cursor: pointer;
}

.close:hover {
  background: #00d9ff;
}

.des_icon {
  font: 10px 'open sans', arial;
  margin-right: 10px;
  text-transform: uppercase;
  background: #999;
  padding: 7px 6px;
  color: white;
  border-radius: 5px;
}

.rl_menu_icon {
  margin: 0px 25px;
  position: absolute;
  font-size: 20px;
  color: #999;
}

.rl_inner {
  padding-left: 70px;
}

.rl_inner h4 {
  font-size: 16px;
  word-spacing: normal;
  letter-spacing: normal;
  color: #767676;
}

.rl_nutritions p {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  font-style: normal;
  text-transform: uppercase;
  line-height: 140%;
  color: #999;
}

.rl_popup_option_title {
  color: #999;
  font-size: 20px;
}

.rl_text {
  float: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.rl_text ul {
  margin: 3px -25px;
  padding: 0 0 0 40px;
  margin-bottom: 10px;
}

.rl_text ul li {
  color: #999;
}

.res_hr {
  color: #999;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: dashed 1px;
}

.root_image {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.root_title {
  margin-top: 6px;
}

.modalDialog .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.centered_price {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #7a2662;
  font-size: 24px;
  padding: 6px 9px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  margin: 0 auto;
  display: inline-block;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 90001;
  margin: -14px -14px 0 0;
  color: #fff;
  background-color: #955181;
  border-radius: 50%;
  padding: 4px;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 90%;
  font-size: 30px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.close:hover {
  color: #fff;
  background-color: red;
}

.my_modal {
  overflow: hidden;
  position: fixed;
}

/* loader.gif */

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8) url("http://thinkfuture.com/wp-content/uploads/2013/10/loading_spinner.gif") no-repeat 50%;
}

@media (max-width: 631px) {
  .modal_item {
    width: 80% !important;
    margin: 14px 0px 0 36px;
  }

  .rl_text {
    width: 100% !important;
  }
}

