// common Styles
.ninja_res_menu_group {
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: left;
  .res_item_modal {
    cursor: pointer;
  }
  .res-item {
    padding: 5px;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    &:hover {
      background-color: #f5f4eb;
      border-radius: 5px;
    }
    h3, h4, h2, p {
      padding: 0px;
      margin: 0px;
    }
  }
}

.res_item_price {
  padding: 5px 10px;
  display: inline-block;
  font-size: 12px;
  background-color: #955181;
  border-radius: 5px;
  color: white;
}

// explicit styles for default
.ninja_res_menu_default, .ninja_res_menu_group {
  .res-item {
    .res_featured_image {
      width: 30%;
      padding: 0px;
      margin: 0px;
      float: left;
      img {
        max-width: 100%;
      }
    }
    .res_item_title {
      .res_item_price {
        float: right;
      }
    }
    .res-item-content {
      padding: 0px;
      padding-left: 15px;
      margin: 0px;
      width: 70%;
      float: left;
    }
  }
}

// simple and centered
.ninja_res_menu_simple, .ninja_res_menu_center_aligned {
  .res-item {
    padding-top: 10px;
    .res_item_price {
      float: right;
    }
    .res-item-content {
      padding: 0px;
      margin: 0px;
      width: 100%;
    }
  }
}

// centered aligned
.ninja_res_menu_center_aligned {
  .res-item {
    padding: 15px;
    text-align: center;
    .res_item_price {
      float: none;
    }
  }
}

// grid items
.ninja_res_menu_group.ninja_res_menu_grid {
  .res_gid_4 {
    width: 25%;
    float: left;
  }
  .res_gid_3 {
    width: 33%;
    float: left;
  }
  .res_gid_2 {
    width: 50%;
    float: left;
  }
  .res_gid_1 {
    width: 100%;
    float: none;
  }
  .res-item {
    .res_featured_image {
      position: relative;
      width: 100%;
      padding: 0px;
      margin: 0px;
      float: none;
      img {
        max-width: 100%;
      }
      .res_item_price {
        position: absolute;
        left: 5px;
        bottom: 5px;
      }
    }
    .res-item-content {
      padding-left: 0px;
      width: 100%;
    }
  }
}

.res_single_item_content {
  .rl_inner {
    h4 {
      padding: 0px;
      margin: 10px 0;
    }
  }
}

/*pop up modal*/
.tr_modal_dialog {
  position: fixed;
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  &:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal_item {
    color: #999999;
    max-width: 90%;
    width: 600px;
    position: relative;
    margin: 4% auto;
    border-radius: 10px;
    background: #fff;
    height: auto;
    .tr_close {
      position: absolute;
      top: -14px;
      right: -16px;
      text-transform: lowercase;
      font-family: Arial, Helvetica, sans-serif;
      z-index: 999999999999;
      color: #fff;
      background-color:black;
      border-radius: 50%;
      padding: 4px;
      height: 28px;
      width: 28px;
      text-align: center;
      line-height: 24px;
      font-size: 30px;
      cursor: pointer;
      box-sizing: content-box;
      &:hover {
        color: #fff;
        background-color:  #955181;
      }
    }
    .tr_header_holder {
      height: 350px;
      display: table;
      background-size: cover;
      width: 100%;
      background-color: #955080;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position: relative;
      @media screen and ( max-width: 767px ) {
        height: 267px;
      }
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(76, 74, 74, 0.5);
        width: 100%;
        z-index: 99;
      }
      &:hover::before {
        background: rgba(76, 74, 74, 0.2);
      }
      .tr_header_section {
        padding: 10px 20px;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        z-index: 99999999;
        height: 100%;
        text-align: center;
        h3 {
          font-size: 25px;
        }
        p.centered_price {
          background: rgba(149, 81, 129, 0.85);
          display: inline-block;
          margin: 0px;
          padding: 0px 10px;
          line-height: 25px;
          font-size: 14px;
          color: white;
          border-radius: 5px;
        }
      }
    }
    .tr_inner_title {
      color: #4e4848;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
  }
  .tr_modal_content {
    padding: 20px;
  }
  ul.nutrition_info {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: block;
    width: 100%;
    li {
      width: 50%;
      float: left;
      list-style: none;
      margin: 0px;
      padding: 0px 10px 0px 0px;
    }
  }
}
.tr_tax_items {
  margin-bottom: 10px;
  display: block;
  span {
    background-color: #C7C7C7;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    margin-right: 8px;
    font-size: 80%;
  }
}
.tr_inner_content {
  padding: 20px;
  border-top: dashed thin;
  border-color: #C7C7C7;
  .tr_inner_title {
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
  }
}
ul.nutrition_info {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: block;
  width: 100%;
  li {
    width: 50%;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px 10px 0px 0px;
    @media screen and ( max-width: 767px ) {
      width: 100%;
      float: none;
    }
  }
}

.tr_single_item_content .tr_inner_content {
  padding: 20px 0px;
}

// loading css
.tr_loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .8) url('./images/loading-1.gif') no-repeat 50%;
}
